USE [master]
GO
/****** Object:  Database [MiniShop]    Script Date: 4/21/2017 0:21:15 AM ******/
CREATE DATABASE [MiniShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NAINGUYEN3239\MSSQL\DATA\MiniShop.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MiniShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NAINGUYEN3239\MSSQL\DATA\MiniShop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniShop]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 4/21/2017 0:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MaLoaiSanPham] [nvarchar](50) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 4/21/2017 0:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MaNhaSanXuat] [nvarchar](50) NOT NULL,
	[TenNhaSanXuat] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MaNhaSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/21/2017 0:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSanPham] [nvarchar](50) NOT NULL,
	[MaLoaiSanPham] [nvarchar](50) NULL,
	[MaNhaSanXuat] [nvarchar](50) NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[MoTaSanPham] [nvarchar](max) NULL,
	[HinhChinh] [nvarchar](50) NULL,
	[Hinh1] [nvarchar](50) NULL,
	[Hinh2] [nvarchar](50) NULL,
	[Hinh3] [nvarchar](50) NULL,
	[Hinh4] [nvarchar](50) NULL,
	[Gia] [int] NULL,
	[SoLuong] [int] NULL,
	[LuotView] [int] NULL,
	[TinhTrang] [nchar](10) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[LOAISANPHAM] ([MaLoaiSanPham], [TenLoaiSanPham]) VALUES (N'LSP01', N'Amine')
INSERT [dbo].[LOAISANPHAM] ([MaLoaiSanPham], [TenLoaiSanPham]) VALUES (N'LSP02', N'Mini')
INSERT [dbo].[LOAISANPHAM] ([MaLoaiSanPham], [TenLoaiSanPham]) VALUES (N'LSP03', N'Random')
INSERT [dbo].[NHASANXUAT] ([MaNhaSanXuat], [TenNhaSanXuat]) VALUES (N'1', N'Yongzhi')
INSERT [dbo].[NHASANXUAT] ([MaNhaSanXuat], [TenNhaSanXuat]) VALUES (N'2', N'Blue Me And You')
INSERT [dbo].[NHASANXUAT] ([MaNhaSanXuat], [TenNhaSanXuat]) VALUES (N'3', N'Flickr')
INSERT [dbo].[SANPHAM] ([MaSanPham], [MaLoaiSanPham], [MaNhaSanXuat], [TenSanPham], [MoTaSanPham], [HinhChinh], [Hinh1], [Hinh2], [Hinh3], [Hinh4], [Gia], [SoLuong], [LuotView], [TinhTrang]) VALUES (N'SP01', N'LSP01', N'1', N'Miku Hatsune', N'Sản phẩm mô hình đồ chơi trẻ em', N'MikuHatsune.jpg', NULL, NULL, NULL, NULL, NULL, 0, 0, N'0         ')
USE [master]
GO
